DO $$
BEGIN
    IF EXISTS (
        SELECT FROM information_schema.columns
        WHERE table_schema = '{{ schema }}'
        AND table_name = '{{ table }}'
        AND column_name = '{{ column }}'
    ) THEN
        {{ raw | indent(8) }};
    END IF;
END $$;
