{% include '_header.sql.j2' %}
DO $$
BEGIN
    IF EXISTS (
        SELECT FROM information_schema.table_constraints
        WHERE constraint_schema = '{{ schema }}'
        AND table_name = '{{ table }}'
        AND constraint_name = '{{ constraint }}'
    ) THEN
        {{ raw | indent(8) }};
    END IF;
END $$;
