{% include '_header.sql.j2' %}
SET @col_exists = (
    SELECT COUNT(*)
    FROM information_schema.columns
    WHERE table_schema = DATABASE()
    AND table_name = '{{ table }}'
    AND column_name = '{{ column }}'
);

SET @query = IF(@col_exists > 0,
    '{{ raw | replace("'", "\\'") }}',
    'SELECT "Column {{ column }} does not exist" AS msg');

PREPARE stmt FROM @query;
EXECUTE stmt;
DEALLOCATE PREPARE stmt;
