{% include '_header.sql.j2' %}
SET @index_exists = (
    SELECT COUNT(*)
    FROM information_schema.statistics
    WHERE table_schema = DATABASE()
    AND table_name = '{{ table }}'
    AND index_name = '{{ index }}'
);

SET @query = IF(@index_exists = 0,
    '{{ raw | replace("'", "\\'") }}',
    'SELECT "Index {{ index }} already exists" AS msg');

PREPARE stmt FROM @query;
EXECUTE stmt;
DEALLOCATE PREPARE stmt;
